.mycontainer {
    flex: 1;
}

.card {
    cursor: pointer;
}

.img {
    border-radius: 10px;
}

.cardTitle {
    position: absolute;
    margin-top: -40px;
    height: 40px;
    width: 300px;
    padding-left: 20px;
    padding-top: 8px;
    background-color: rgba(0,0,0,8);

}